<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>e>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <br><br>
    <h2>Edit your Sneaker</h2>
    <br>

    <form action="/sneakers/<%= sneaker.id %>?_method=PUT" method="POST">
      <!--  NOTE: the form is pre-populated with values for the server-->
        Name: <input type="text" name="name" value="<%= sneaker.name %>"/><br/>
        Description: <input type="text" name="description" value="<%= sneaker.description %>"/><br/>
        Price: <input type="text" name="price" value="<%= sneaker.price %>"/><br/>
        Quantity: <input type="text" name="quantity" value="<%= sneaker.quantity %>"/><br/>
        Image Link: <input type="img" name="image" value="<%= sneaker.image %>"/><br/>
        <br><br>
        <input type="submit" name="" value="Submit Changes">

    </form>
  </body>
</html>
