<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
<% include partials/nav.ejs %>

<h3 class="h3c">Sneaker Name: <%= oneSneaker.name %> </h3>
<h4 class="h3c">Brand Name: <%= oneSneaker.brand %> </h4>
<h4 class="h3c">Color: <%= oneSneaker.color %> </h4>
<h4 class="h3c">Release Date: <%= oneSneaker.release_date %> </h4>
<h4 class="h3c">Username: <%= oneSneaker.submitted_by %> </h4>


<br>

<img class="imgShowPage" src= <%= oneSneaker.image %> alt="sneaker"/>

<form class="input-group" action="/sneakers/<%=oneSneaker.id; %>/edit">
  <input type="submit" value="Edit" />
</form>
<br>
<form class="input-group" action="/sneakers/<%= oneSneaker.id;%>?_method=DELETE" method="POST">
  <input type="submit" value="Delete Sneaker" />
</form>
<br>
    <a href="/sneakers/"><div class=backbtn> Back</div></a>
    <br>
  </body>
</html>
